/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 1, 2023, 1:39:57 PM
    Author     : Alan
*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    background-color: #C0C0C0;
}

#menucadastros {
    
}

#principal {
    display: flex;
    flex-grow: 1;
    background-color: white;
    height: 100vh;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
}

.hero {
    text-align: center;
    padding: 5rem;
    background-color:#e4f0f7;
}

.inputCadastrar {
    padding: 5px;
    gap: 2px;
    background-color: green;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    margin: 3px;
    border: 2px solid green; /* Largura, estilo e cor da borda */
    border-radius: 5px; /* Raio da borda para suavizar os cantos */
    padding: 8px; /* Espaçamento interno para o conteúdo dentro do input */
    outline: none;
}

.inputCadastrar:hover {
    background-color: #90EE90;
    color: black;
    
}

/* Cadastro professor */

.cadastroProfessor {
    background-color: #e4f0f7;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}

.formProfessor {
    display: flex;
    padding: 6px;
    flex-direction: column;
    gap: 2px;
}
.formProfessor > input:not([type="submit"]) {
    border: 2px solid #3498db; /* Largura, estilo e cor da borda */
    border-radius: 5px; /* Raio da borda para suavizar os cantos */
    padding: 8px; /* Espaçamento interno para o conteúdo dentro do input */
    outline: none;
}

.cadastroProfessor > p {
    color: black;
    font-weight: bold;
}

/* Cadastro Disciplina */

.cadastroDisciplina {
    background-color: #e4f0f7;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}

.formDisciplina {
    display: flex;
    padding: 6px;
    flex-direction: column;
    gap: 2px;
}

.formDisciplina > input:not([type="submit"]) {
    border: 2px solid #3498db; /* Largura, estilo e cor da borda */
    border-radius: 5px; /* Raio da borda para suavizar os cantos */
    padding: 8px; /* Espaçamento interno para o conteúdo dentro do input */
    outline: none;
}

.cadastroDisciplina > p {
    color: black;
    font-weight: bold;
}

/* Cadastro Horário */

.cadastroHorario {
    background-color: #e4f0f7;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}

.formHorarios {
    display: flex;
    padding: 6px;
    flex-direction: column;
    gap: 10px;
}

.formHorarios > input:not([type="submit"]) {
    border: 2px solid #3498db; /* Largura, estilo e cor da borda */
    border-radius: 5px; /* Raio da borda para suavizar os cantos */
    padding: 8px; /* Espaçamento interno para o conteúdo dentro do input */
    outline: none;
}

.cadastroHorario > p {
    color: black;
    font-weight: bold;
}

p {
    text-transform: uppercase;
}

.consultaHorario > p {
    color: black;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #aeb9bf;
    color: #333;
    text-align: center;
    position: fixed;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td, tr {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
